BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
	font-family: Arial, Helvetica, sans-serif;
}
BODY,TD 
{
	font-family: Monospace;
	font-size: 90%;
}
H1 {
	text-align: center;
	font-size: 160%;
}
H2 {
	font-size: 120%;
}
H3 {
	font-size: 100%;
}
CAPTION { 
	font-weight: bold 
}

DIV.navpath {
	width: 100%;
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}

A.el { 
	font-family: Monospace;
}

A.code:link { 
	text-decoration: none; 
	font-weight: normal; 
}

A.code:visited { 
	font-weight: normal; 
}

A:hover { 
	text-decoration: none; 	
}
DL.el { 
	margin-left: -1cm 
}
.fragment {
       font-family: monospace, fixed;
       font-size: 95%;
}
PRE.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}

BODY {
	background: white;
	color: black;
	margin-right: 20px;
	margin-left: 20px;
}
TD.indexkey {
	background-color: #eee;
	font-weight: bold;
	padding-top    : 2px;
	padding-bottom : 2px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #ccc;
}
TD.indexvalue {
	background-color: #eee;
	padding-top    : 2px;
	padding-bottom : 2px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #ccc;
}
TR.memlist {
	background-color: #f0f0f0; 
}

.navpath
{
}

.mdescLeft {
	padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #eee;
	border: 1px none #ccc;
	margin: 0px;
}
.mdescRight {
	font-family: Arial, Helvetica, sans-serif;
    padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #eee;
	border: 1px none #ccc;
	margin: 0px;
}
.memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-width: 1px;
	border-color: #ccc;
	border-style: none;
	border-top-style: solid;
	background-color: #eee;
	font-size: 80%;
}
.memItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-width: 1px;
	border-color: #ccc;
	border-style: none;
	border-top-style: solid;
	background-color: #eee;
	font-size: 80%;
}

HR { 
	height: 1px;
	border: none;
	border-top: 1px solid black;
}

/* Style for detailed member documentation */
.memtemplate 
{
	font-family: Monospace;
	font-weight: normal;
	margin-left: 3px;
} 

.memitem {
	background-color: #eee;
	border-style: solid;
	border-color: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
}
.memname {
	white-space: nowrap;
	font-weight: bold;
}
.memdoc{
	padding-left: 10px;
}
.memproto {
	background-color: #ddd;
	width: 100%;
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #ccc;
	-moz-border-radius: 8px 8px 8px 8px;
}
.paramkey {
	text-align: right;
}
.paramtype {
	white-space: nowrap;
}
.paramname {
	font-style: italic;
	white-space: nowrap;
}
/* End Styling for detailed member documentation */

