DIV.tabs
{
   float            : left;
   width            : 100%;
   margin-bottom    : 4px;
   border-bottom    : 4px solid #ccc;
}

DIV.tabs UL
{
   margin           : 0px;
   padding-left     : 10px;
   list-style       : none;
}

DIV.tabs LI
{
   display          : inline;
   margin           : 0px;
   padding          : 0px;
}

DIV.tabs A
{
   font-family      : Monospace;
   float            : left;
   padding          : 5px 6px 4px 6px;
   border           : 1px solid #ccc;
   color            : #333;
   text-decoration  : none;
   font-weight      : bold;
}

DIV.tabs A:hover
{
    background-color: #ddd;
}

DIV.tabs SPAN
{
    float           : right;
	padding         : 4px 4px 4px 4px;
	color           : #333;
	float           : none;
	
}

DIV.tabs LI.current A
{
    background-color: #eee;
}
